--- 
layout: default 
--- 
{% for post in paginator.posts %}
<div class="post">
  <div class="post__meta">
    <div class="post__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
    <div class="post__text">
      {{ post.excerpt | strip_html | truncatewords: 50 }}
    </div>
    <div class="post__postfix">
      <span class="post__date">{{ post.date | date: '%Y-%m-%d' }}</span>
      <span class="post__postfix--separator"></span>
      <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title}}">Read more...</a>
    </div>
  </div>
</div>
{% endfor %}

<nav class="pagination" role="navigation">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="older-posts" href="/">&larr; 이전 포스트</a>
    {% else %}
      <a class="older-posts" href="{{ '/page' | append: paginator.previous_page }}">&larr; 이전 포스트</a>
    {% endif %}
  {% endif %}
  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="newer-posts" href="{{ '/page' | append: paginator.next_page }}">다음 포스트 &rarr;</a>
  {% endif %}
</nav>