<div id="header">
  <div id="header__content">
    <div id="header__info">
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      <p>{{site.description}}</p>
      <img src="{{ site.baseurl }}/images/avatar.png" alt="avatar">
    </div>
    <ul id="header__nav">
      <li><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active__link{% else %}{% endif %}">Main</a>
      </li>
      <li><a href="{{ site.baseurl }}/about" class="{% if page.url == '/about/' %}active__link{% else %}{% endif %}">About</a></li>
    </ul>
  </div>
</div>