<!DOCTYPE html>
<html lang="ko">
{% include head.html %}
<body>
  {% include header.html %}
  <div id="content">
    <div id="content__column">
      {{ content }}
    </div>
  </div>
    {% include footer.html %}
</body>
</html>